<div class="about-container-section-two  ">

    <div class="about-container-section-two-inner app-maxiwdth">
        <h2 class="about-container-section-two-text">About us</h2>
    </div>
</div>

<div class="about-container-section-three app-maxiwdth ">

    <div class="about-container-section-three-inner-one ">
        <img class="about-section-three-image " src="../../assets/Images/abt-img1.png" alt="">
    </div>
    <div class="about-container-section-three-inner-two">
        <p class="about-container-section-three-inner-two-paraone">Step Forward Serve The Humanity Reach Out and Help
        </p>
        <p class="about-container-section-three-inner-two-paratwo"> Sri Late Chittaluri Kamala Devi(D.O.E 31/03/2021)
            was a simple and
            hardworking woman.She worked relentlessly to raise her three children when
            her husband Sri Chittaluri Venkateshwara Rao passed away in 1971.Though she
            received small amount for her savings as pension it was not enough to
            empower her children & adding to that, she was affected by polio at same
            time which made one of her legs a bit paralysed.Still her spirit was
            phenomoninal ,she fought with unfortunate situations with utmost will power
            and grit.Due to her good nature and kindheartedness She survived about
            80+years and recently left us . We looked her evolution from a healthy adult
            to a lady in bedriddden condition.Our conscience questioned us "You had
            taken care of your loved one,but what about the ones who didnt receive the
            same love from their family mates" This ignited us to start an organisation
            which can assure them with moral and financial support.A small thought then
            ,now shaping into a big one with the support from near and dear ones.
        </p>
    </div>
</div>

<div class="about-conatiner-section-four ">
<div class="full-bg-color app-maxiwdth d-flex">
    <div class="about-conatiner-section-mission ">
        <h3 class="about-conatiner-section-mission-h3">Mission</h3>
        <p class="about-conatiner-section-mission-para"> It lies in taking care of two major age groups of our society
            aiming at the
            downtrodden elderly poeple and vulnerable children.Next comes the poverty
            stricken individuals & also disadvantaged animals. Our vision with the
            organisation is to support these impoverished and abandoned orphans ,old age
            people ,underprivileged children hailing especially from lower income
            backgrounds.On the other spectrum,animals which go through tough situations
            without food and medical help are to be taken care of. Our vision to
            transform the quality of life of these individals through greater
            understanding, collaboration and by endorsing a lasting, mutually
            life-enhancing relationships.
        </p>

    </div>

    <div class="about-conatiner-section-vision">
        <h3 class="about-conatiner-section-mission-h3">Vision</h3>
        <p class="about-conatiner-section-mission-para"> The world from the shocks of COVID19 is slowly picking up its
            pace but not
            at a required speed.Our mission complements with the current situation.we
            pledge to support & empower & provide medical backing ,groceries
            ,food,educational supplies ,clothes etc to the penniless individuals,less
            fortunate & needy ones who have none to look after & are in hope of some
            aid. In these times, the individuals as well as animals have no sources of
            food nor are well-wishers and caregivers allowed to step out to feed them.
            So,our mission is to compassionately serve them. Nevertheless we facilitate,
            organize, and promote cooperation from the volunteers willing to extent
            their help for the cause.
        </p>

    </div>
</div>
</div>

<div class="about-conatiner-section-five ">
    <div class="masthhhhhu app-maxiwdth">
        <div class="about-conatiner-section-five-img-one ">
            <img src="../../assets/Images/volunteer.png" alt="">
            <p class="m-0">85642</p>
            <h4>Volunteer</h4>

        </div>
        <div class="about-conatiner-section-five-img-two">
            <img src="../../assets/Images/global-partner.png" alt="">
            <p class="m-0">65984</p>
            <h4>Global Partner</h4>

        </div>
        <div class="about-conatiner-section-five-img-three">
            <img src="../../assets/Images/save-children.png" alt="">
            <p class="m-0">56634</p>
            <h4>Save Children</h4>

        </div>
        <div class="about-conatiner-section-five-img-four">
            <img class=" " src="../../assets/Images/refuge-shelter.png" alt="">
            <p class="m-0">98563</p>
            <h4>Refuge Shelter</h4>

        </div>
    </div>

</div>

<div class="about-conatiner-section-six ">

    <div class="about-conatiner-section-six-content-left app-maxiwdth">
        <h3 class="text-center">What We Do</h3>
        <h1 class="text-center pb-4">Title Comes Here!</h1>
        <p>lorem ipsum is simply dummy text of the printing and typesetting
            industry.lorem ipsum has been the industry's standard dummy text ever
            since the 1500s, when an unknow printer taook a gallery of type and
            scrambled it to make a type secimen book.</p>
        <ul class="about-conatiner-section-six-ulEl">
            <li class="about-conatiner-section-six-li"><i class="fa fa-check-circle p-3 about-icon-size-big" aria-hidden="true"></i>lorem
                ipsum is simply dummy text of the printing.</li>
            <li class="about-conatiner-section-six-li"><i class="fa fa-check-circle p-3 about-icon-size-big"
                    aria-hidden="true"></i>typesetting
                industry.lorem ipsum has been the industry</li>
            <li class="about-conatiner-section-six-li"><i class="fa fa-check-circle p-3 about-icon-size-big" aria-hidden="true"></i>standard
                dummy text ever
                since the 1500s</li>
        </ul>
        <app-reusable-button [type]="'button'" label="LEARN MORE" [cssClass]="'non-success-btn'"></app-reusable-button>
    </div>

    <div class="about-conatiner-section-six-image-right">
        <img src="../../assets/Images/what-we-do.png" alt="">

    </div>
</div>

<div class="about-conatiner-section-seven app-maxiwdth">
    <div class="about-conatiner-section-seven-h3-para">
        <h3 class="about-conatiner-section-seven-h3">Team Members</h3>
        <p class="about-conatiner-section-seven-para">We Have a Big Team Of Expert Volunteer</p>
    </div>

    <div class="about-conatiner-section-seven-images">
        <div class="about-conatiner-section-seven-image-one">
            <img class="seven-common-class" src="../../assets/Images/test1.png" alt="">
            <div class="about-conatiner-section-seven-image-one-ND">
                <p class="text-center m-0 about-section-seven-first-para">David Salka Warner</p>
                <p class="text-center m-0 about-section-seven-second-para-sub"> Web Developer</p>
            </div>
        </div>
        <div class="about-conatiner-section-seven-image-two">
            <img class="seven-common-class" src="../../assets/Images/test2.png" alt="">
            <div class="about-conatiner-section-seven-image-two-ND">
                <p class="text-center m-0 about-section-seven-first-para">Micheal Fokluz Huta</p>
                <p class="text-center m-0 about-section-seven-second-para-sub">Web Developer</p>
            </div>
        </div>
        <div class="about-conatiner-section-seven-image-three">
            <img class="seven-common-class" src="../../assets/Images/test3.png" alt="">
            <div class="about-conatiner-section-seven-image-three-ND">
                <p class="text-center m-0 about-section-seven-first-para">Nicholas Almedida Lima</p>
                <p class="text-center m-0 about-section-seven-second-para-sub">Web Programmer</p>
            </div>
        </div>
        <div class="about-conatiner-section-seven-image-four">
            <img class="seven-common-class" src="../../assets/Images/test4.png" alt="">
            <div class="about-conatiner-section-seven-image-four-ND">
                <p class="text-center m-0 about-section-seven-first-para">Ryan Gonclaves Alves</p>
                <p class="text-center m-0 about-section-seven-second-para-sub" >Php Develoepr</p>
            </div>
        </div>
    </div>

</div>

<div class="about-conatiner-section-eight ">

    <div class="about-conatiner-section-eight-inner app-maxiwdth">
        <div class="about-conatiner-section-eight-para-h1">

            <h3>What we Do</h3>
            <p>Ready to donate our 250 million refugee?</p>
        </div>
        <div class="about-conatiner-section-eight-buttons d-flex">
            <div class="space-bet-button-one">
            <app-reusable-button [type]="'button'" label="$100" [cssClass]="'small-btn'"></app-reusable-button>
            </div>
            <div class="space-bet-button-two">
            <app-reusable-button [type]="'button'" label="DONATE NOW" [cssClass]="'btn-commom-class'">
            </app-reusable-button>
            </div>

        </div>
    </div>

    <div class="about-conatiner-section-eight-completely-image">

        <img class="section-8-image " src="../../assets/Images/get-started-bg.png" alt="">

    </div>
</div>
<app-reusable-testimonials></app-reusable-testimonials>