
<header class="header ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top nav-section ">
        <div class="container-fluid">
            <a class="navbar-brand " href="#"><img class="" src="../../assets/Images/footer-logo.png"/>
            </a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="home" aria-current="page" >HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="service" href="#">SERVICE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="gallery" href="#">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="support" href="#">SUPPORT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact us" href="#">CONTACT US</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-success nav-button-common ">DONATE US</button>            </div>
        </div>
    </nav>

    <img class="bg-img w-100 " src="../../assets/Images/header-img-main.png" alt=""> 

</header>

