<div class="Container-section-eight ">
    <div class="Container-section-eight-Innerdiv row app-maxiwdth">

        <div class=" container-section-8-custom-class col-6 ">
            <img class="container-section-8-custom-class-image" src="../../assets/Images/footer-logo.png" />
            <p class="Container-8-Para">lorem ipsum is simply dummy text of the printing and typesetting industry.
                lorem ipsum has been the industry's standard dummy text ever since the 1500s,when
                an unknown preinter tooks a gallery of type and scrambled it to</p>
            <app-reusable-button [type]="'button'" label="DONATE US" [cssClass]="'btn-commom-class'">
            </app-reusable-button>
        </div>

        <div class="container-section-eight-ListEle-main col-6 row ">
            <div class="container-section-eight-ListEle-Group-one col-4">
                <h3 class="container-eight-h3-one">Company</h3>
                <ul class="container-eight-ulele-one common-class-8-ulli">
                    <li class="container-eight-li-one">About us </li>
                    <li class="container-eight-li-one"> Recent causes</li>
                    <li class="container-eight-li-one">Sitemate</li>
                    <li class="container-eight-li-one">Contact us</li>
                    <li class="container-eight-li-one">Sponsors</li>
                </ul>
            </div>


            <div class="container-section-eight-ListEle-Group-two col-4">
                <h3 class="container-eight-h3-two">Donations</h3>
                <ul class="container-eight-ulele-two common-class-8-ulli">
                    <li class="container-eight-li-one">Volunteers </li>
                    <li class="container-eight-li-one"> How to Donate</li>
                    <li class="container-eight-li-one">Donation List</li>
                    <li class="container-eight-li-one">Privacy Policy</li>
                    <li class="container-eight-li-one">Tram of use</li>
                </ul>
            </div>

            <div class="container-section-eight-ListEle-Group-three col-4">
                <h3 class="container-eight-h3-three">Keep In Touch</h3>
                <address>
                    <a href="loreumipsum">2283 east street</a><br>
                    <a href="mailto:jim@rock.com">jim@rock.com</a><br>
                    <a href="tel:+13115552368">(311) 555-2368</a>
                </address>
            </div>
        </div>
    </div>
    <div style="border-bottom: 2px solid #4d4848;

"></div>

    <div class="container-eight-main-footer">
        <div class="container-eight-footer-paras">
            <div class="container-eight-footer-paras-inner ">
                <p class="container-eight-footer-para-one ">Terms of service </p>
                <p class="container-eight-footer-para-two"> Privacy policy</p>
                <p class="container-eight-footer-para-three">Security </p>
            </div>


            <div class="container-eight-main-footer-two">
                <div class="testyaak">
                    <a href="https://www.facebook.com/" class="foot-icon-custom-f"><i class="fa fa-facebook "
                            aria-hidden="true"></i></a>
                    <a href="https://twitter.com/" class="foot-icon-custom-t"><i class="fa fa-twitter"
                            aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/" class="foot-icon-custom-y"><i class="fa fa-youtube-play"
                            aria-hidden="true"></i></a>
                </div>

            </div>

            <div class="container-eight-main-footer-three">
                <p class="">@2022<span class="footer-bottom-text"> website name</span> all rights reserved.</p>
            </div>

        </div>


    </div>

</div>