<div class="container-section-seven ">
    <div class="app-maxiwdth">
        <div class="mastheee">
            <div class="container-section-seven-para-h1">
                <p class="container-section-seven-para">Our Testimonials</p>
                <h1 class="container-section-seven-h1">What People Say</h1>
            </div>

            <div class="testee">
                <div class="testee1">
                    <p class="container-section-seven-para-one">lorem ipsum is simply dummy text of the printing and
                        typesetting industry.
                        loreum ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown
                    </p>
                    <img src="../../assets/Images/testi-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>