<div class="nav-section-main-content app-maxiwdth">
    <img class="bg-img w-100 " src="../../assets/Images/header-img-main.png" alt="">

    <div class="nav-section-content-innerdiv">

        <p class="nav-section-para-1"> Need Your Big Hand For Change The World.</p>
        <p class="nav-section-para-2">It is a established fact that a reader will be page
            distracted by the reable content of a pain. </p>
        <app-reusable-button [type]="'button'" label="DISCOVER" [cssClass]="'success-btn'"></app-reusable-button>

    </div>
</div>

<div class="container-section-2 app-maxiwdth">

    <p class="container-section-2-para-1">Welcome Chittaluri Kamala Devi Trust is a Non-Profitable and
        Non-Religious Social Service Organization!</p>

    <p class="container-section-2-para-2">We Believe that We can save more lifes with you</p>

    <div class="container-section-2-images">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="img-responsive">
                    <img class="w-100 h-100" src="../../assets/Images/support.svg">
                </div>
                <div class="container-section-2-support">
                    <h4>Support</h4>
                    <p>This is support section.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="img-responsive">
                    <img class="w-100 h-100" src="../../assets/Images/prayers.svg">
                </div>
                <div class="container-section-2-prayers">
                    <h4>Prayers</h4>
                    <p>This is prayers section.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="img-responsive section-2-image3-common">
                    <img class="w-100 h-100" src="../../assets/Images/volunteers.svg">
                </div>
                <div class="container-section-2-volunteers">
                    <h4>Volunteers</h4>
                    <p>This is volunteers section.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="img-responsive section-2-image3-common">
                    <img class="w-100 h-100" src="../../assets/Images/donations.svg">
                </div>
                <div class="container-section-2-donations">
                    <h4>Donations</h4>
                    <p>This is donations section.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-section-3">
    <div class="app-maxiwdth d-flex">
        <div class="container-section-3-images ">
            <img src="../../assets/Images/img-1.png" alt="">
            <div class="enclosed-two-images-three">
                <img src="../../assets/Images/img-2.png" class="img-custom-section-3" alt="">
                <img src="../../assets/Images/img-3.png" class="img3-custom-section-3" alt="">
            </div>
        </div>

        <div class="container-section-3-para-uili">
            <div class="container-section-3-para">
                <p class="container-section-3-para-1">It was named after our beloved family member <strong
                        class="section-3-name">Sri Chillaturi Kamala Devi.</strong></p>
                <p class="container-section-3-para-2 ">We work to serve penurious and needy</p>
                <p class="container-section-3-para-3">Our passion remains in feeding the hungry, hosting the
                    underpreivileged kids,providing medical supplies,clothing the poor,feeding the stray animals etc.
                </p>
            </div>
            <div class="container-section-3-ul-li">
                <ul class="container-section-3-ul">
                    <li class="Container-3-li"><i class="fa fa-angle-right arrow-size-big" aria-hidden="true"></i>Food Distribution to
                        the
                        needed</li>
                    <li class="Container-3-li"><i class="fa fa-angle-right arrow-size-big" aria-hidden="true"></i>Basic Medical Aid
                    </li>
                    <li class="Container-3-li"><i class="fa fa-angle-right arrow-size-big" aria-hidden="true"></i>Food for Street dogs
                    </li>
                    <li class="Container-3-li"><i class="fa fa-angle-right arrow-size-big" aria-hidden="true"></i>Basic grocery
                        provided
                    </li>
                    <li class="Container-3-li"><i class="fa fa-angle-right arrow-size-big" aria-hidden="true"></i>Water distribution
                    </li>
                    <li class="Container-3-li"><i class="fa fa-angle-right arrow-size-big" aria-hidden="true"></i>Stationary supply
                        provided</li>
                </ul>

            </div>
        </div>
    </div>

</div>


<div class="container-section-4 app-maxiwdth">

    <p class="container-section-4-para-one">Loreum Ipsum is simply free</p>
    <p class="container-section-4-para-two">Provided Services</p>

    <app-coursel-component></app-coursel-component>
</div>


<div class="container-section-five ">
    <div class="app-maxiwdth">
        <div class="container-section-five-para">
            <p class="container-section-five-para-one">Loreum ipsum is simply free</p>
            <p class="container-section-five-para-two">Latest Causes</p>
        </div>
        <div class="container-section-five-buttons">
            <app-reusable-button [type]="'button'" label="Donations"
                [cssClass]="'btn-commom-class btn-common-class-two'"></app-reusable-button>
            <app-reusable-button [type]="'button'" label="Food" [cssClass]="'btn-commom-class btn-common-class-two'">
            </app-reusable-button>
            <app-reusable-button [type]="'button'" label="Medical" [cssClass]="'btn-commom-class btn-common-class-two'">
            </app-reusable-button>
            <app-reusable-button [type]="'button'" label="Grocery" [cssClass]="'btn-commom-class btn-common-class-two'">
            </app-reusable-button>
            <app-reusable-button [type]="'button'" label="Water" [cssClass]="'btn-commom-class btn-common-class-two'">
            </app-reusable-button>
            <app-reusable-button [type]="'button'" label="Stationary"
                [cssClass]="'btn-commom-class btn-common-class-two'"></app-reusable-button>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 cc-card-custom">
            <div class="col">
                <div class="card">
                    <img src="../../assets/Images/casuse-img1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lorem Ipsum is simply free</h5>
                        <p class="card-text">lorem ipsum is simply free text available amet,consectetuer
                            adipiscing elit.</p>
                    </div>
                    <app-progress-bar></app-progress-bar>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../assets/Images/casuse-img2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lorem Ipsum is simply free</h5>
                        <p class="card-text"> lorem ipsum is simply free text available amet,consectetuer
                            adipiscing elit.</p>
                    </div>
                    <app-progress-bar></app-progress-bar>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../assets/Images/casuse-img3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lorem Ipsum is simply free</h5>
                        <p class="card-text">lorem ipsum is simply free text available amet,consectetuer
                            adipiscing elit.</p>
                    </div>
                    <app-progress-bar></app-progress-bar>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-section-six app-maxiwdth">
    <div class="container-section-six-paras-h2">
        <h2 class="container-section-six-h2">Our Gallery</h2>
        <p class="container-section-six-para-one">Discover the Best Things We Do</p>
        <p class="container-section-six-para-two">loreum ipsum is simple free text available amet,consectetur adipiscing
            elit.</p>
    </div>

    <div class="container-section-six-images">
        <div class="row common-class">
            <img src="../../assets/Images/gallery-1.png" class="col-4 common-class-images" />
            <img src="../../assets/Images/gallery-2.png" class="col-4 common-class-images" />
            <img src="../../assets/Images/gallery-3.png" class="col-4 common-class-images" />
            <img src="../../assets/Images/gallery-4.png" class="col-4 common-class-images" />
            <img src="../../assets/Images/gallery-5.png" class="col-4 common-class-images" />
            <img src="../../assets/Images/gallery-6.png" class="col-4 common-class-images" />
        </div>
    </div>
</div>


<app-reusable-testimonials></app-reusable-testimonials>