<div class="nav-section-main-content">
    <div class="nav-section-content-innerdiv">

        <p class="nav-section-para-1"> Need Your Big <br> Hand For Change <br>The World.</p>
        <p class="nav-section-para-2">It is a established fact that a reader will be page<br>
            distracted by the reable content of a pain. </p>
        <button type="button" class="btn btn-success">Discover</button>
        <!-- <button class="nav-section-content-abutton  w-50 mh-500">DISCOVER MORE</button> -->
    </div>
</div>

<div class="container-section-2">

    <p class="container-section-2-para-1">Welcome Chittaluri Kamala Devi Trust is a Non-Profitable and <br>
        Non-Religious Social Service Organization!</p>

    <p class="container-section-2-para-2">We Believe that We can save <br> more lifes with you</p>

    <div class="container-section-2-images">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="img-responsive">
                    <img class="w-100 h-100" src="../../assets/Images/support.svg">
                </div>
                <div class="container-section-2-support">
                    <h4>Support</h4>
                    <p>This is support section.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="img-responsive">
                    <img class="w-100 h-100" src="../../assets/Images/prayers.svg">
                </div>
                <div class="container-section-2-prayers">
                    <h4>Prayers</h4>
                    <p>This is prayers section.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="img-responsive section-2-image3-common">
                    <img class="w-100 h-100" src="../../assets/Images/volunteers.svg">
                </div>
                <div class="container-section-2-volunteers">
                    <h4>Volunteers</h4>
                    <p>This is volunteers section.</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="img-responsive section-2-image3-common">
                    <img class="w-100 h-100" src="../../assets/Images/donations.svg">
                </div>
                <div class="container-section-2-donations">
                    <h4>Donations</h4>
                    <p>This is donations section.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-section-3">

    <div class="container-section-3-images ">
        <img src="../../assets/Images/img-1.png" alt="">
        <img src="../../assets/Images/img-2.png" class="img-custom-section-3" alt="">
        <img src="../../assets/Images/img-3.png" class="img3-custom-section-3" alt="">
    </div>

    <div class="container-section-3-para-uili">
        <div class="container-section-3-para">
            <p class="container-section-3-para-1">It was named after our beloved family member <strong
                    class="section-3-name">Sri Chillaturi Kamala Devi.</strong></p>
            <p class="container-section-3-para-2 ">We work to serve penurious and needy</p>
            <p class="container-section-3-para-3">Our passion remains in feeding the hungry, hosting the
                underpreivileged kids,providing medical supplies,clothing the poor,feeding the stray animals etc.
            </p>
        </div>
        <div class="container-section-3-ul-li">
            <ul class="container-section-3-ul">
                <li class="Container-3-li"><i class="fa fa-angle-right" aria-hidden="true"></i>Food Distribution to the
                    needed</li>
                <li class="Container-3-li"><i class="fa fa-angle-right" aria-hidden="true"></i>Basic Medical Aid</li>
                <li class="Container-3-li"><i class="fa fa-angle-right" aria-hidden="true"></i>Food for Street dogs</li>
                <li class="Container-3-li"><i class="fa fa-angle-right" aria-hidden="true"></i>Basic grocery provided
                </li>
                <li class="Container-3-li"><i class="fa fa-angle-right" aria-hidden="true"></i>Water distribution</li>
                <li class="Container-3-li"><i class="fa fa-angle-right" aria-hidden="true"></i>Stationary supply
                    provided</li>
            </ul>

        </div>
    </div>
</div>


<div class="container-section-4">

    <p class="container-section-4-para-one">Loreum Ipsum is simply free</p>
    <p class="container-section-4-para-two">Provided Services</p>

    <div class="container-section-4-images">
        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <img class="w-100" src="../../assets/Images/food-img.png">

                </div>
                <div class="container-section-4-combhpb">
                    <h2>Food Distribution</h2>
                    <p>Lorum Ipsum is simply free text available amet,consectetur adipiscing elit.</p>
                    <button type="button" class="btn btn-success button-1">Donate now</button>

                </div>

            </div>

            <div class="col-md-3 ">
                <div class="">
                    <img class="w-100" src="../../assets/Images/medical-img.png">
                </div>
                <div class="container-section-4-combhpb">
                    <h2>Basic Medical Aid</h2>
                    <p>Lorum Ipsum is simply free text available amet,consectetur adipiscing elit.</p>
                    <button type="button" class="btn btn-success button-2">Donate now</button>

                </div>

            </div>

            <div class="col-md-3 ">
                <div class="">
                    <img class="w-100" src="../../assets/Images/grocery-img.png">
                </div>
                <div class="container-section-4-combhpb">
                    <h2>Basic Grocery</h2>
                    <p>Lorum Ipsum is simply free text available amet,consectetur adipiscing elit.</p>
                    <button type="button" class="btn btn-success button-3">Donate now</button>

                </div>

            </div>

        </div>
    </div>
</div>


<div class="container-section-five">
    <div class="container-section-five-para">
        <p class="container-section-five-para-one">Loreum ipsum is simply free</p>
        <p class="container-section-five-para-two">Latest Causes</p>
    </div>
    <div class="container-section-five-buttons">
        <a href="" class="button-section-5">Donations</a>
        <a href="" class="button-section-5">Food</a>
        <a href="" class="button-section-5">Medical</a>
        <a href="" class="button-section-5">Grocery</a>
        <a href="" class="button-section-5">Water</a>
        <a href="" class="button-section-5">Stationary</a>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 cc-card-custom">
        <div class="col">
            <div class="card">
                <img src="../../assets/Images/casuse-img1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum is simply free</h5>
                    <p class="card-text">lorem ipsum is simply free text available amet,consectetuer
                        adipiscing elit.</p>
                </div>
               
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/Images/casuse-img2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum is simply free</h5>
                    <p class="card-text"> lorem ipsum is simply free text available amet,consectetuer
                        adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/Images/casuse-img3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum is simply free</h5>
                    <p class="card-text">lorem ipsum is simply free text available amet,consectetuer
                        adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-section-six">
    <div class="container-section-six-paras-h2">
        <h2 class="container-section-six-h2">Our Gallery</h2>
        <p class="container-section-six-para-one">Discover the Best Things We Do</p>
        <p class="container-section-six-para-two">loreum ipsum is simple free text available amet,consectetur adipiscing
            elit.</p>
    </div>

    <div class="container-section-six-images">
        <div class="row common-class">
            <img src="../../assets/Images/gallery-1.png" class="col-4 common-class-images" />
            <img src="../../assets/Images/gallery-2.png" class="col-4 common-class-images" />
            <img src="../../assets/Images/gallery-3.png" class="col-4 common-class-images" />
            <img src="../../assets/Images/gallery-4.png" class="col-4 common-class-images" />
            <img src="../../assets/Images/gallery-5.png" class="col-4 common-class-images" />
            <img src="../../assets/Images/gallery-6.png" class="col-4 common-class-images" />
        </div>
    </div>
</div>

<div class="container-section-seven">
    <div class="container-section-seven-para-h1">
        <p class="container-section-seven-para">Our Testimonials</p>
        <h1 class="container-section-seven-h1">What People Say</h1>
    </div>

    <div class="testee">
        <div class="testee1">
        <p class="container-section-seven-para-one">lorem ipsum is simply dummy text of the printing and typesetting industry.
            loreum ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown
        </p>
        <img src="../../assets/Images/testi-img.png" alt="">
     </div>
    </div>
</div>


<div class="Container-section-eight">
    <div class="Container-section-eight-Innerdiv row">  
            
        <div class="now-working col-6 ">
         <img class="" src="../../assets/Images/footer-logo.png"/>
         <p class="Container-8-Para">lorem ipsum is simply dummy text of the printing and typesetting industry.
            lorem ipsum has been the industry's standard dummy text ever since the 1500s,when 
            an unknown preinter tooks a gallery of type and scrambled it to</p>
            <a href="" class="button-section-5">Donate-Us</a>
</div>

<div class="container-section-eight-ListEle-main col-6 row ">
    <div class="container-section-eight-ListEle-Group-one col-4">
          <h3 class="container-eight-h3-one">Company</h3>
            <ul class="container-eight-ulele-one">
                <li class="container-eight-li-one">About us </li>
                <li class="container-eight-li-one"> Recent causes</li>
                <li class="container-eight-li-one">Sitemate</li>
                <li class="container-eight-li-one">Contact us</li>
                <li class="container-eight-li-one">Sponsors</li>
           </ul>
    </div>


    <div class="container-section-eight-ListEle-Group-two col-4">
          <h3 class="container-eight-h3-two">Donations</h3>
            <ul class="container-eight-ulele-two">
                <li class="container-eight-li-one">Volunteers </li>
                <li class="container-eight-li-one"> How to Donate</li>
                <li class="container-eight-li-one">Donation List</li>
                <li class="container-eight-li-one">Privacy Policy</li>
                <li class="container-eight-li-one">Tram of use</li>
           </ul>
    </div>

     <div class="container-section-eight-ListEle-Group-three col-4">
           <h3 class="container-eight-h3-three">Keep In Touch</h3>
            <address>
                <a href="loreumipsum">2283 east street</a><br>
                <a href="mailto:jim@rock.com">jim@rock.com</a><br>
                <a href="tel:+13115552368">(311) 555-2368</a>
            </address>
     </div>
</div>
</div>

    <div class="container-eight-main-footer">
           <div class="container-eight-footer-paras">
               <div>
                <p class="container-eight-footer-para-one ">Terms of service </p>
                <p class="container-eight-footer-para-two"> Privacy policy</p>
                <p class="container-eight-footer-para-three">Security </p>
               </div>
                
           
                <div class="container-eight-main-footer-two">
                    <a href="https://www.facebook.com/" ><i class="fa fa-facebook" aria-hidden="true"></i></a>  
                    <a href="https://twitter.com/" ><i class="fa fa-twitter" aria-hidden="true"></i></a>  
                    <a href="https://www.youtube.com/" ><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    
               </div>
    
               <div class="container-eight-main-footer-three">
                     <p class="">@2022 website name all rights reserved.</p>
               </div>

           </div>

           
     </div>

</div>
